<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dictionary App</title>
  <link rel="stylesheet" href="assets/base.css">
</head>
<body>
	
	<script type="text/template" id="dict-template">
			<header id="header">
				<h1>Dictionary d1</h1>
				<input id="new-word-forward" placeholder="new word - forward" autofocus>
				<input id="new-word-backward" placeholder="new word - backward">
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all</label>
				<table border="1" class="wordsTable">
					<tbody id="word-table">
						<tr>
							<th>select</th>
							<th>Forward</th>
							<th>Backward</th>
							<th>Destroy</th>
						</tr>
					</tbody>
				</table>
			</section>
			<footer id="footer"></footer>
	</script>
	
	<script type="text/template" id="word-template">
		<td><input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> ></td>
		<td><label><%- forward %></label></td>
		<td><label><%- backward %></label></td>
		<td><button class="destroy">D</button></td>
	</script>
	
 <script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> 
    <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
      <li>
        <a href="#/exercise">Exercise!</a>
      </li>
    </ul>
   <% if (completed) { %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
  </script>

	<script type="text/template" id="exercise-template">
		<h1><%- forward %></h1>
		<h1 class="hidden"><%- backward %></h1>
		<button class="check">Check</button>
		<button class="correct">Correct!</button>
		<button class="next">Next</button>
	</script>

	<script type="text/template" id="exercise-complete-template">
		<h1>Dictionary <%- dictionary %> test complete</h1>
		<h2>words asked <%- asked %></h2>
		<h2>words correct <%- correct %></h2>
        <a href="">OK</a>
	</script>
	
  
  <script src="../lib/jquery.js"></script>
  <script src="../lib/underscore.js"></script>
  <script src="../lib/backbone.js"></script>
  <script src="../lib/backbone.localStorage.js"></script>
  
  <script src="models/word.js"></script>
  <script src="collections/words.js"></script>
  <script src="views/word.js"></script>
  <script src="views/app.js"></script>
  <script src="views/exercise.js"></script>
  <script src="app.js"></script>
  <script src="routers/router.js"></script>
</body>
</html>